[Unit]
Description=Oddity Archive
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
DynamicUser=yes
StateDirectory=oddity-archive
WorkingDirectory=/opt/oddity-archive
EnvironmentFile=/etc/oddity-archive.env
ExecStart=/opt/oddity-archive/oddity
Restart=on-failure
RestartSec=3s
TimeoutStopSec=15s
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictSUIDSGID=yes
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
CapabilityBoundingSet=
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
